---
layout: default
title: Blog Page 
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Split blog loop (part 1) Copy ------------------------>
<section class="p-5p">

    <div class="capped-width grid sm:grid-cols-6">


        {% for post in site.posts limit:15 %}
        <div class="
        {%cycle
        'md:col-span-2 bg-slate-200',
        'md:col-span-2 bg-slate-300',
        'md:col-span-2 bg-slate-400',
        'md:col-span-3 bg-slate-100',
        'md:col-span-3 bg-slate-200'
        %}">

            {% include post-loop-item-square.html %} </div>

        {% endfor %}

    </div>

</section>