---
layout: default
title: Blog Archive
---

<!------------------------ Split blog loop (part 1) ------------------------>
{% comment %}
<!-- <section class="p-5p archive">

    <div class="max-w-screen-lg mx-auto p-2 center mb-8 text-center">
        <h2 class="font-serif text-4xl mb-2"> Blog Archive </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.</p>
    </div>

    <div class="max-w-screen-xl mx-auto grid lg:grid-cols-2 gap-4">

        {% for post in site.posts limit:100 %}

            {% include post-loop-list-item.html %}

        {% endfor %}

    </div>

</section> -->
{% endcomment %}

<section class="py-5p archive" x-data="{ search: '', posts: [...document.querySelectorAll('.post')] }" x-on:input="filterPosts">
    <div class="max-w-screen-lg mx-auto p-2 center mb-8 text-center">
        <h2 class="font-serif text-4xl mb-2 uppercase"> Explore the blog </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.</p>
   
        <div class="filter relative my-8 inline-block"> 
            <input class="bg-light p-5p rounded-xl" type="text" x-model="search" placeholder="Search..." class="p-4">
        </div>
    </div>

    <div class="max-w-screen-lg mx-auto grid gap-4">

        {% for post in site.posts limit:100 %}

        <div class="post" x-show="search === '' || $el.querySelector('h2').textContent.toLowerCase().includes(search.toLowerCase())">
            {% include post-loop-list-item-simple.html %}
        </div>

        {% endfor %}
    </div>
</section>