---
layout: default
heading: Members Area
sub-heading: Welcome to our private members area.
banner-image: /uploads/travel/blog-1.png
members-content:
  - title: Hello I am a title
    content_html: >-
      <p><img width="969" src="/uploads/blog-16.png" /></p><h2>Hello I am a big
      heading</h2><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Et, perferendis? Aspernatur facilis accusamus neque dolorem possimus quasi
      veniam inventore, maiores dignissimos quidem unde aut id rerum culpa quo
      quibusdam. Similique?</p><p>Lorem ipsum dolor sit, amet consectetur
      adipisicing elit. Et, perferendis?&nbsp;</p>
  - title: This is a second title
    content_html: >-
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et,
      perferendis? Aspernatur facilis accusamus neque dolorem possimus quasi
      veniam inventore, maiores dignissimos quidem unde aut id rerum culpa quo
      quibusdam. Similique?</p>
  - title: This is a third title
    content_html: >-
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et,
      perferendis? Aspernatur facilis accusamus neque dolorem possimus quasi
      veniam inventore, maiores dignissimos quidem unde aut id rerum culpa quo
      quibusdam. Similique?</p>
---
<!---------------------  thinner image banner block  -------------------------->
<section class="p-5p bg-cover flex justify-center relative text-white" style="min-height: 40vh ;">
    <img src="{{page.banner-image}}" alt="{{page.banner-image-alt}}" class="absolute h-full top-0 w-full object-cover -z-10" />

        <div class="mr-[50%]"> 
           <h2 class="pb-4 font-serif text-9xl mb-2"> {{page.heading}} </h2> 
           <h3 class="text-2xl font-sans"> {{page.sub-heading}} </h3> 
        </div> 
    </section> 

<section class="min-h-80 pl-5p grid grid-cols-4">

    <div class="col-span-1 border-r-2 border-black">
        <h2 class="block uppercase font-serif text-2xl mt-8 mb-4 tracking-widest">Explore</h2> 
            {% for item in page.members-content %}
            <a href="#{{item.title | slugify }}" class="block"> {{item.title}}</a>
            {% endfor %}

    </div> 

    <div class="col-span-3">

        {% for item in page.members-content %}
        <div id="{{item.title | slugify}}" class="members-content p-5p border-b-2 last:border-b-0 border-black"> 
            {{ item.content_html }}
        </div>

        {% endfor %}

    </div> 
    
</section>