<!--  image banner block  -->
<section class="p-5p bg-cover {{page.background-position}} {{page.banner-height}} {{page.text-position}} {{page.text-color}} flex justify-center relative min-h-[calc(100vh - 100px)]">
<img src="{{page.banner-image}}" alt="{{page.banner-image-alt}}" class="absolute h-full  
{% if page.banner-style == 'cropped' %}
top-0
left-[25%]
w-[75%]
{% endif %}
{% if page.banner-style == 'full' %}
top-0
w-full
{% endif %}
object-cover
-z-10">
    <div class="mr-[50%]"> 
       <h2 class="pb-4 {{page.heading-text-size}} font-serif text-4xl mb-2"> {{page.heading}} </h2> 
       <h3 class="text-2xl font-sans"> {{page.sub-heading}} </h3> 
      
       {% if page.banner_url  %}
      
       <a class="pt-4 uppercase border-black text-black border-b text-2xl font-sans inline-block" href="{{page.banner_url}}">Read more</a>
    
       {% endif %}
       
    </div> 
</section> 


<!-- 

Config Options: 

background-position: bg-center
text-position: items-center
banner-height: min-h-[60]
banner-image: 
heading: 
sub-heading:

-->