<!--  image banner block  -->
<section class="p-5p bg-cover {{page.background-position}} {{page.banner-height}} {{page.text-position}} {{page.text-color}} flex justify-center" style="background-image: url('{{page.banner-image}}')">
    <div> 
       <h2 class="text-4xl font-light text-center mb-2"> {{page.heading}} </h2> 
       <h3 class="text-2xl font-light text-center"> {{page.sub-heading}} </h3> 
    </div> 
</section> 


<!-- 

Config Options: 

background-position: bg-center
text-position: items-center
banner-height: min-h-[60]
banner-image: 
heading: 
sub-heading:

-->