

<a class="break-inside-avoid block mb-4" href="{{ post.url }}">
    <div class="bg-cover {% cycle 'aspect-square', 'aspect-landscape', 'aspect-portrait' %} relative">
        <img src="{{ post.featured_image }}" alt="{{post.title}}" class="absolute inset-0 w-full h-full object-cover">
    </div> 

    <div class="p-4 relative bg-light">
        
        <h2 class="mt-1 font-serif texxt-bold text-3xl"> {{ post.title }} </h2>
        <p class="mt-2 py-5p text-xl font-sans"> {{ post.description }} </p>
        <span class="mt-2 font-serif text-xl uppercase border-black border-b" href="{{ post.url }}">Read more</span>
        <p> 
        {% for item in post.categories %}
            <span class="tag mr-2 pt-20p font-sans"> {{item}} </span>
        {% endfor %}
        </p>
        

    </div>
</a>
