<section class="bg-light p-5p related-posts">
  <div class="max-w-screen-xl mx-auto">

    <h4 class="text-center font-serif text-4xl mb-4 uppercase tracking-widest"> Related Posts </h4>
    
    <div class="grid grid-cols-3 align-items-center">
    
    
    {% capture pageCategory %}{{ page.categories[0] }}{% endcapture %}

    {% assign relevant-posts = site.categories[pageCategory] | where_exp:"post","post.url != page.url and post.hidden != true" %}

      {% for post in relevant-posts limit:3 %}

          <a class="p-2 block mb-4" href="{{ post.url }}">
            <div class="bg-cover aspect-square" style="background-image:url( '{{ post.featured_image }}' );"></div>
            <div class="p-10p relative bg-white">
                <h2 class="my-1 font-sans uppercase text-2xl"> {{ post.title }} </h2>
                <p class="line-clamp-2 tracking-wide my-4">{{ post.description }}</p>
                <span class="mt-1 font-serif text-xl uppercase border-black border-b" href="{{ post.url }}">Read more</span>

            </div>
        </a>
          
      {% endfor %}
    </div>
  </div>
    
</section>