
<header class="text-center flex justify-between mx-5p uppercase">

    <a href="/index.html" class="inline-block logo text-4xl font-serif p-8"> Logo </a>

    <nav class="tracking-widest font-sans flex items-center md:justify-center md:overflow-x-auto overflow-x-scroll md:flex-wrap flex-nowrap">

      <a class="p-4" href="/blog.html">Blog</a>
      <a class="p-4" href="/shop.html">Shop</a>
      <a class="p-4" href="/members.html">Members</a>
      <a class="p-4" href="/about.html">About</a>

    </nav> 

  </header>


<!-- 
  NOTE - need to style scrollbars more beeautifully and browser compatibly
--> 
