<footer class="font-serif p-5p bg-zinc-900 text-white">
  <div class="max-w-screen-xl mx-auto md:grid grid-cols-3">
      <div class="p-4">
        <a href="#" class="font-serif text-4xl mb-4 block uppercase editable"> Logo </a>
        <div class="editable font-sans"><p> Lorem ipsum dolor sit amet consectetur adipisicing elit sint dignissimos magni vitae. </p></div>
      </div> 
      <nav class="p-4">
        <h2 class="p-1 font-bold tracking-wide uppercase editable"> More from Logo </h2>
        <a href="/blog.html" class="p-1 block uppercase text-sm tracking-wide editable"> Blog</a>
        <a href="/shop.html" class="p-1 block uppercase text-sm tracking-wide editable"> Shop </a>
        <a href="/members-login.html" class="p-1 block uppercase text-sm tracking-wide editable"> Members Login </a>
        <a href="/about.html" class="p-1 block uppercase text-sm tracking-wide editable"> About </a>
      </nav> 
      <nav class="p-4">
        <h2 class="p-1 font-bold tracking-wide editable"> CONNECT WITH US </h2>
        <a href="#" class="p-1 block uppercase text-sm tracking-wide editable"> Instagram</a>
        <a href="#" class="p-1 block uppercase text-sm tracking-wide editable"> Facebook </a>
        <a href="#" class="p-1 block uppercase text-sm tracking-wide editable"> LinkedIn </a>
        <a href="#" class="p-1 block uppercase text-sm tracking-wide editable"> TikTok </a>
      </nav> 
    </div>
  </footer>
  