<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}
    
</head>

<body>

    {% include inline-styles.html %}
    
    {% include site-header.html %}

    {{content}}

    {% include site-footer.html %}

    <!-- Javascript  -->
    <script src="https://unpkg.com/gsap@3.12.1/dist/gsap.min.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script> var MemberSpace = window.MemberSpace || {"subdomain":"cloudvent3"}; (function(d){ var s = d.createElement("script"); s.src = "https://cdn.memberspace.com/scripts/widgets.js"; var e = d.getElementsByTagName("script")[0]; e.parentNode.insertBefore(s,e); }(document)); </script>


    <script src="/main.js"></script>

</body>

</html>