---
layout: default
---
<!-------------------------- Banner --------------------------------------------->

{% include banner.html %}


<section class="p-5 bg-featured">

        <div class="intro py-6 text-center margin-b-2 px-10p mx-auto flex justify-between items-center border-black border-b-2">

            <p class="text-sm tracking-wide text-zinc-600"> by <span class="font-bold"> {{ page.author }}  </span> </p>
            
            <h1 class="text-4xl font-serif mt-4 mb-8 uppercase"> {{ page.title }} </h1>
            
            <p class="text-sm uppercase tracking-wide text-zinc-600"> {{ page.date | date_to_string }} </p>
         
        </div>

        <div class="p-2 max-w-screen-lg mx-auto text-center">

            {{content}}

        </div>
        



</section>

{% include related-posts.html %}
