---
layout: default
---
<!------------------------ Intro banner ----------------------->
<section class="grid grid-cols-2">

    <div class="pt-[35%] px-10p">
        <h2 class="bg-feature relative font-serif tracking-widest text-4xl my-4">{{page.title}}</h2>
        <h3 class="uppercase text-lg font-sans my-4">{{page.subtitle}}</h3>
        <p class="font-sans my-4">{{page.description}}</p>
        {% include shopify-buy-button.html buy-button-id=page.buy-button-id %}
    </div>

    <div class="relative">
        <img class="inset-0 h-full w-full object-cover absolute" src="{{page.featured-image}}" alt="{{page.featured-image-alt}}">
    </div>

</section>


{% comment %}
<!-------------------------------------- What's inside ---------------------------------->

<!--<section class="p-5p">
    <h2 class="bg-feature relative font-serif tracking-widest text-4xl my-6">What's included</h2>
    <div class="grid grid-cols-3 max-w-screen-xl mx-auto">
        <div class="col-span-2 p-8">

            {% include before-and-after-slider.html %}

        </div>
        <div class="pt-[35%] px-10p">
            <h2 class="bg-feature relative font-serif tracking-widest text-4xl my-6">Before & After</h2>
            <p class="font-sans my-4">{{page.product-description}}</p>
        </div>

    </div>
</section>-->
{% endcomment %}

<section class="p-5p">
    <h2 class="bg-feature relative font-serif tracking-widest text-center uppercase text-4xl my-6">What's inside</h2>
    <div class="max-w-screen-lg mx-auto">

            {% include thumbnail-gallery.html %}

        </div>

    </div>
</section>


{% comment %}
<!-- <section class="p-5p"> 
<div class="max-w-screen-xl mx-auto">
    <div>
        <h2 class="bg-feature relative font-serif tracking-widest text-center uppercase text-4xl my-6">What's inside</h2>
        <div class="relative aspect-landscape mb-2">
            <img class="inset-0 h-full w-full object-cover absolute" src="{{page.gallery-images[0]}}" alt="{{page.featured-image-alt}}">
        </div>
        
        <div class="grid grid-cols-6 gap-1">
            {% for image in page.gallery-images %}
            <div class="relative aspect-square">
                <img class="inset-0 h-full w-full object-cover absolute" src="{{image}}" alt="pretty picture">
            </div>
            {% endfor %}

        </div>
    </div>
</div>
</section> -->
{% endcomment %}


<!------------------------------------- contents + whats included --------------------------->

<section class="pt-5p pb-10p">
    
    
   
    <div class="grid grid-cols-5 px-5p items-start">
        <div class="col-span-3 border-b-2 border-black">
            <h2 class="block bg-feature relative mb-6 uppercase font-serif tracking-widest text-4xl">Table of contents</h2>
            {% for item in page.destinations limit: 4 %}
    
            <div class="py-8 flex justify-between border-black border-t-2">
                <span class="">
                    {{ item.location }}
                </span>
                    
                <span class="text-right">
                    {{ item.pages }}
                </span>
            </div>
            {% endfor %}
    
    </div>  
        <div class="col-span-2 pb-10p pl-10p">
            
            <h2 class="bg-feature relative font-serif tracking-widest text-4xl mb-6 uppercase">What's included</h2>
            <ul class="font-sans my-4 list-disc list-inside leading-6">
                <li>Magni facere tenetur veniam itaque</li>
                <li>Lorem itaque tenetur?</li>
                <li>Debitis soluta consequatur</li>
                <li>Consectetur adipisicing consequatur</li>
                <li>Amet beatae distinctio nostrum maiores!</li>
                <li>Lorem magni facere tenetur veniam debitis</li>
                <li>Debitis itaque tenetur?</li>
                <li>Ipsum magni facere veniam debitis</li>
                <li>Tempora magni facere tenetur veniam</li>
            </ul>
            <div class="flex items-center">
                <a class="uppercase button mt-2 inline-block" href="{{page.product_url}}">Add to cart</a>
                <span class="mt-2 inline-block pl-5p"> &#9825; Add to wishlist </span>
            
            </div>
        </div>

       
            
                
    
    </div>

</section>


<!------------------------ Related Products loop forced aspect ratio ------------------------>
<section class="p-5p bg-light">
    
    <h2 class="uppercase text-center pb-5p font-serif  tracking-widest text-4xl">Related products</h2>
    
    <div class="max-w-screen-xl mx-auto grid gap-4 md:grid-cols-3">

        {% assign featured_product-ebooks = site.products-guides | where: 'featured', true %}
        {% for post in featured_product-ebooks limit: 3 %}

        <div>

            {% include product-loop-item.html %} </div>

        {% endfor %}

    </div>

</section>